.table-responsive{
    display: table;
}
.table-header{
    background-color: #F0F0F0;
    border-radius: 10px;
    margin: 0 1px;
    /* width: 95%; */
}
.table-header p{
    font-weight: 700;
}
.table-content{
    border-radius: 10px;
}