.dashboard-body{
    background-color: white;
    padding:20px;
    border-radius: 15px;
    height: 300px;
    margin-top: 60px;
}
.admin-btn{
    padding: 9px 25px;
    font-weight: 700;
}
.user-btn{
    background-color: #111430;
    border-color: transparent;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    padding: 9px 30px;
}
.user-btn:hover{
    background-color: #05060f;
    color: white;
}
.home-btn{
    background-color:#e6f1f5;
    border: 2px solid #97e9fd;
    border-radius: 50%;
    font-weight: 600;
    color: #46bcda;
    padding: 20px;
}
